<a href="https://colab.research.google.com/github/acchu1234sinchana/python-workshop/blob/master/Day1_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python Program to find the factorial of a number using loop

In [1]:
n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:12
Factorial of the number is:
479001600

#Python Program to reverse a number using loop

In [2]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 12
The reversed no  is:
21

#Write a Python program to construct the following pattern, using a nested for loop

In [3]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#Python Program to replace all occurrences of ‘a’ with ‘$’ in a string

In [4]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:12
Modified string:
12

#Python Program to remove the nth index character from a non-empty string

In [5]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:45
Enter the index of the character to remove:87
Modified string:
45

#Python Program to detect if two strings are anagrams

In [6]:
s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:456
Enter second string:87
The strings aren't anagrams.

#Python Program to form a string where the first character and the last character have been exchanged

In [7]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:45
Modified string:
54

#Python Program to  count number of vowels from a non-empty string

In [8]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:t
Number of vowels are:
0

#Program for Divide by zero error detection

In [9]:
flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator45
Enter denominator87
Finally the division of 45/87 is 0.517241
Division is successful
Thank you

#Program for ValueError error detection

In [10]:
while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: 34
 That was valid number. Thank you

#Enter number 5

In [11]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#Find the length of a string without using len functions

In [12]:
str = input("Enter a string: ")

# counter variable to count the character in a string
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: 5
Length of the input string is: 1

#Enter number 4

In [14]:
rows = int(input("enter number"))
for j in range(1,rows+1):
 print(" * " * j)

enter number4
 *
 *  *
 *  *  *
 *  *  *  *