<a href="https://colab.research.google.com/github/acchu1234sinchana/python-workshop/blob/master/day_1_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Find the compound interest for the given p,n,r

In [1]:
def compound_interest(principle, rate, n): 

  

    # Calculates compound interest  

    Amount = principle * (pow((1 +(n * rate) / 100), n)) 

    CI = Amount - principle 

    print("Compound interest is", CI) 

  
# Driver Code  

compound_interest(10000, 10.25, 5)

Compound interest is 69154.73816223144

#Convert centegrade to farenheit

In [2]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 23
23.00 Celsius is: 73.40 Fahrenheit

#Find the greater of two nos

In [3]:
a = float(input(" Please Enter the First Value a: "))
b = float(input(" Please Enter the Second Value b: "))

if(a > b):
    print("{0} is Greater than {1}".format(a, b))
elif(b > a):
    print("{0} is Greater than {1}".format(b, a))
else:
    print("Both a and b are Equal")

 Please Enter the First Value a: 12
 Please Enter the Second Value b: 34
34.0 is Greater than 12.0

#	Write a program for finding surface areas of cylinder and cone

In [4]:
import math 

pi = math.pi 
# Function To Calculate Surface Area of Cone 

def surfacearea(r, s): 

    return pi * r * s + pi * r * r 

# Function To Calculate Total Surface Area 
# of Cylinder 

def totalsurfacearea(r, h): 

    tsurf_ar = (2 * pi * r * h) + (2 * pi * r * r) 

    return tsurf_ar 
  
# Driver Code 

radius = float(5) 

height = float(12) 

slat_height = float(13) 

r = 5

h = 8
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

print("Total  Surface Area  Of Cylinder =  ",totalsurfacearea(r,h))

Surface Area Of Cone :  282.7433388230814
Total  Surface Area  Of Cylinder =   408.4070449666731

#Find the greatest of four nos ( using ‘and’ operator)   using function

In [5]:
# Python Program to find Largest of two Numbers using if-else statements
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
if(a >= b):
  print(a, "is greater")
else:
  print(b, "is greater")

Enter the first number: 12
Enter the second number: 34
34 is greater

#Write a  menu program to perform the operations

In [7]:
n1 = 5

n2 = 10

n3 = 15

n4 = 20

  

mx = (n1 if (n1 > n2 and n1 > n2 and n1 > n4)  

         else (n2 if (n2 > n3 and n3 > n4)  

         else (n3 if n3 > n4 else n4))) 

  
# str() function is used to convert  
# integer to string, it is required  
# as we are concatenating integers 
# with string 

print("Largest number among " + str(n1) + ", " + 

            str(n2) + ", " + str(n3) + " and " + 

            str(n4) + " is " + str(mx))

Largest number among 5, 10, 15 and 20 is 20